* {
  /* font-size: 16px; */
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.App {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh; /* Ensure the app takes at least the full viewport height */
}

.main-container {
  flex-grow: 1; /* Allow the main content to grow and fill available space */
  padding: 1em;
  margin-left: 4em;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .main-container {
    padding: 1em;
  }
}
